* {
  margin: 0;
  padding: 0;
}

/* navbar */

.navbar .container {
  padding: 0;
}

/* intro */

#intro {
  background: linear-gradient(180deg, #020406 0%, #1B3252 100%);
}

#intro .container {
  display: flex;
  flex-direction: column;
  padding: 5% 0 10% 0;
}

#intro .container h1 {
  font-size: 4.5rem;
  font-family: 'Syne', sans-serif;
  font-weight: 500;
  color: #fff;
}

#intro .container h1 span {
  color: #0F97FB;
}

#intro .container h2 {
  font-size: 4rem;
  font-family: 'Syne', sans-serif;
  align-self: flex-end;
  font-weight: normal;
  color: #CFEBFF;
}

/* projects */

#projects .container {
  display: grid;
  grid-template-areas: 
    "first second"
    "third fourth";
  grid-template: 1fr 1fr / 1fr 1fr;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
