* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* navbar */

.navbar .container {
  padding: 0;
}


.navbar-custom ul li a {
  color: #fff;
  margin-left: 30px;
}

#resume {
  border: 2px solid #0F97FB;
  border-radius: 10px;
}

#resume:hover {
  border: 2px solid #107ecc;
  color: #107ecc;
}

#photo {
  border-radius: 50%;
  border: 3px solid #0F97FB;
}

/* intro */

#intro {
  background: linear-gradient(180deg, #020406 0%, #1B3252 100%);
  height: 100vh;
}

#intro .container {
  display: flex;
  flex-direction: column;
  padding: 10% 0 15% 0;
}

#intro .container h1 {
  font-size: 4.5rem;
  font-family: 'Syne', sans-serif;
  font-weight: 500;
  color: #fff;
  animation: intro-h1-Anim 2s;
}

#intro .container h1 span {
  font-family: 'Syne', sans-serif;
  color: #0F97FB;
}

#intro .container h2 {
  font-size: 4rem;
  font-family: 'Syne', sans-serif;
  align-self: flex-end;
  font-weight: normal;
  color: #CFEBFF;
  animation: intro-h2-Anim 2s;
}

/* projects */

#projects {
  background: linear-gradient(180deg, #1B3252 83.53%, #020406 100%);
  padding-bottom: 7%;
}

#projects h3 {
  color: #fff;
  font-family: 'Syne', sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
}

#projects .container {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  grid-template-areas: 
    "first second"
    "third fourth";
    gap: 2.5%;
    padding: 0;
}

div.project {
  width: auto;
  height: 450px;
  /* background-color: green; */
  display: flex;
}

div.project .card {
  margin: 0 auto;
}

#project1 {
  grid-area: first;
}

#project2 {
  grid-area: second;
}

#project3 {
  grid-area: third;
}

#project4 {
  grid-area: fourth;
}

.card img {
  height: 100%;
  object-fit: cover;
}

/* footer */

#contact {
  background-color: #020406;
  padding-top: 2%;
  padding-bottom: 1%;
}

#contact div {
  padding: 0;
  display: flex;
  width: 100%;
}

#contact span {
  margin-right: 10px;
}

#contact p {
  margin-left: auto;
}

#contact p a {
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
}

#contact p a:hover {
  color: #0F97FB;
}

@keyframes intro-h1-Anim {
  from {
    transform: translate(-100px);
    opacity: 0%;
  }
  to {
    transform: translate(0px);
    opacity: 100%;
  }
}

@keyframes intro-h2-Anim {
  0% {
    transform: translate(100px);
    opacity: 0%;
  }

  50% {
    transform: translate(100px);
    opacity: 0%;
  }

  100% {
    transform: translate(0px);
    opacity: 100%;
  }
}

::-webkit-scrollbar {
  display: none;
}
